@model IEnumerable<AsyncInn.Models.Room>

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Async Inn</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet">
</head>

<body>
    <img src="~/AsyncInnLogo.png" width="150" height="150" />
    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Layout)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Layout)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav class="menu2">
        <a href="/Home">Home <span class="arrow">&#709;</span></a>
        <a href="/Hotels">Hotels <span class="arrow">&#709;</span></a>
        <a href="/HotelRooms">Hotel Rooms <span class="arrow">&#709;</span></a>
        <a href="/Rooms">Room Types <span class="arrow">&#709;</span></a>
        <a href="/RoomAmenities">Room Amenities <span class="arrow">&#709;</span></a>
        <a href="/Amenities">Amenities <span class="arrow">&#709;</span></a>
    </nav>
</body>
